<div class="col-xs-12 form-section">
    <h2 class="StepTitle">{!!virtualLocalization.ccConfiguration!!}</h2>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-5" for="contactClosureList">{!!virtualLocalization.chooseCCConfig!!}</label>
        <div class="col-sm-6 col-md-7" form-validation-field="contactClosure">
            <select id="contactClosure" name="contactClosure" class="form-control" ng-model="formData.contactClosureList" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.chooseCCConfigTT !!}">
                <option ng-repeat="option in contactClosureList" value="{!!option.id!!}" data-ng-selected="{!!option.selected!!}">{!!option.mainDevice!!} {!!option.subDevice!!}</option>
            </select>
        </div>
    </div>
    <div class="form-field-wizard-error" id="msg_contactClosure">&nbsp</div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-5" for="deviceNameCC">{!!virtualLocalization.chooseName!!}</label>
        <div class="col-xs-12 col-sm-6 col-md-7">
            <input type="text" class="form-control" id="deviceNameCC" ng-model="deviceNameCC" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.chooseCCNameTT !!}" placeholder="{!!virtualLocalization.enterthe!!} {!!virtualLocalization.Name!!}">
        </div>
    </div>
    <div class="form-field-wizard-error" id="msg_deviceNameCC">&nbsp</div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-5" for="normalState">{!!virtualLocalization.chooseCCRunState!!}</label>
        <div class="col-xs-12 col-sm-6 col-md-7">
            <select id="normalState" name="normalState" class="form-control" ng-model="normalState" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.chooseCCRunStateTT !!}">
                <option ng-repeat="option in normalStateList" value="{!!option!!}" data-ng-selected="{!!option!!}">{!!option!!}</option>
            </select>
        </div>
    </div>
    <div class="form-field-wizard-error" id="msg_normalState">&nbsp</div>
</div>
