<h6 class="SummaryLabel" id="summary_MonitoringSensor">{!!virtualLocalization.summaryMonitoringSensor!!}</h6>
<div>
    <div class="col-xs-12 col-sm-5" id="ccType">{!!virtualLocalization.summaryCCType!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_ccType" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryCCTypeTT !!}"></div>
</div>
<div>
    <div class="col-xs-12 col-sm-5" id="ccName">{!!virtualLocalization.summaryCCName!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_ccName" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryCCNameTT !!}"></div>
</div>
<div>
    <div class="col-xs-12 col-sm-5" id="ccNormalState">{!!virtualLocalization.summaryCCNormalState!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_ccNormalState" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryCCNormalStateTT !!}"></div>
</div>