<div id="fuelSensorSpace">&nbsp;</div>
<h6 class="SummaryLabel" id="summary_FuelSensor">{!!virtualLocalization.summaryFuelSensor!!}</h6>
<div>
    <div class="col-xs-12 col-sm-5" id="fsType">{!!virtualLocalization.summaryFSType!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_fsType" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryFSTypeTT !!}"></div>
</div>
<div>
    <div class="col-xs-12 col-sm-5" id="fsName">{!!virtualLocalization.summaryFSName!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_fsName" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryFSNameTT !!}"></div>
</div>
<div>
    <div class="col-xs-12 col-sm-5" id="fsDefaultRange">{!!virtualLocalization.summaryFSDefaultRange!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_fsDefaultRange" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryFSDefaultRangeTT !!}"></div>
</div>            
<div>
    <div class="col-xs-12 col-sm-5" id="fsGaugeRange">{!!virtualLocalization.summaryFSGaugeRange!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_fsGaugeRange" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryFSGaugeRangeTT !!}"></div>
</div>
<div>
    <div class="col-xs-12 col-sm-5" id="fsFuelLevel">{!!virtualLocalization.summaryFSFuelLevel!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_fsFuelLevel" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryFSFuelLevelTT !!}"></div>
</div>
<div>
    <div class="col-xs-12 col-sm-5" id="fsTankCapacity">{!!virtualLocalization.summaryFSTankCapacity!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_fsTankCapacity" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryFSTankCapacityTT !!}"></div>
</div>