<h6 class="SummaryLabel">{!!virtualLocalization.summaryMainDevice!!}</h6>
<div>
    <div class="col-xs-12 col-sm-5" id="mainDeviceName">{!!virtualLocalization.summaryDeviceName!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_deviceName" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryDeviceNameTT !!}"></div>
</div>
<div>
    <div class="col-xs-12 col-sm-5" id="mainDeviceType">{!!virtualLocalization.summaryDeviceType!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_deviceType" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryDeviceTypeTT !!}"></div>
</div>
<div>
    <div class="col-xs-12 col-sm-5" id="mainDeviceOption">{!!virtualLocalization.summaryDeviceOption!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_deviceOption" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryDeviceOptionTT !!}"></div>
</div>