<div id="controlSensorSpace">&nbsp;</div>
<h6 class="SummaryLabel" id="summary_ControlSensor">{!!virtualLocalization.summaryControlSensor!!}</h6>
<div>
    <div class="col-xs-12 col-sm-5" id="rcType">{!!virtualLocalization.summaryRCType!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_rcType" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryRCTypeTT !!}"></div>
</div>
<div>
    <div class="col-xs-12 col-sm-5" id="rcName">{!!virtualLocalization.summaryRCName!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_rcName" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryRCNameTT !!}"></div>
</div>
<div>
    <div class="col-xs-12 col-sm-5" id="rcOn">{!!virtualLocalization.summaryRCOn!!}</div>
    <div class="col-xs-12 col-sm-7" id="summary_rcOn" data-toggle="tooltip" data-placement="top"  title="{!! virtualLocalization.summaryRCOnTT !!}"></div>
</div>
